body {
  margin: 0px;
  background-color: #F4F4F2;
}

#main {
  height: 100vh;
  display: flex;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 40px 51px 80px;
}

.p-divider {
  height: 1px;
  background-color: #CECECE;
  width: 328px;
}

.p-carousel {
  display: flex;
  gap: 16px;
  position: relative;
}

.p-carousel img {
  width: 106px;
  height: 147px;
}

/* texts */
.small-text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.small-text-bold {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #04050C;
  letter-spacing: 0.10px;
}

.small-text-bolder {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: #FF5921;
  letter-spacing: -0.55px;
  text-align: center;
}

.medium-text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.medium-text-bold {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.50px;
  margin: 0;
}

.big-text {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.48px;
  margin: 0;
}

.light-grey {
  color: #9B9B98;
}

.grey {
  color: #727270;
}

.dark-grey {
  color: #474745;
}

.blue {
  color: #0085FF;
}

.black {
  color: #04050C;
}

.ls-25 {
  letter-spacing: 0.25px;
}

.ls-65 {
  letter-spacing: 0.65px;
}

.italic {
  font-style: italic;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

/* texts */


/* arrows */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #04050C;
}

.pc-arrow-right {
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-50%);
  rotate: 270deg;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pc-arrow-right:hover {
  transform: scale(1.1);
}

.pc-arrow-left {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  rotate: 90deg;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pc-arrow-left:hover {
  transform: scale(1.1);
}

/* arrows */

.main-divider {
  height: 100%;
  background-color: #CECECE;
  width: 1px;
  border-radius: 0.2px;
}

.product-infos {
  width: 100%;
  padding: 32px 95px 40px 64px;
}

.pi-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.piw-breadcrumbs {
  height: 20px;
}

.piw-breadcrumbs ol li a {
  text-decoration: none;
}

.piw-breadcrumbs ol li a span:hover {
  font-weight: 600;
}

.piw-breadcrumbs ol li {
  transition: transform 0.3s ease;
}

.piw-breadcrumbs ol li:hover {
  transform: scale(1.05);
}

.piw-breadcrumbs ol {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.piw-breadcrumbs ol li::after {
  content: "|";
  font-size: 8px;
  border-radius: 0.2px;
  margin-left: 8px;
  color: #9B9B98;
}

.piw-breadcrumbs li:last-child::after {
  content: none;
}

.piw-edition-selector {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-color: #ECECEA;
  padding: 12px;
  border-radius: 1px;
  box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.1);
}

.piwes-label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.piwes-acronym {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.piwes-acronym span {
  position: relative
}

.piwes-acronym span::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 1px;
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
  background-color: #CECECE;
}

.piw-product-title {
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.piwpt-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.piwpt-buttons {
  display: flex;
  align-items: start;
  gap: 16px;
}

.piwptb-favorite {
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: filter 0.5s ease-in-out transform 1s ease-in-out;
}

.piwptb-favorite.clicked {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(330deg);
  animation: heartbeat ease-in-out 1s
}

@keyframes heartbeat {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1)
  }
}

.piwptb-more-info {
  height: 32px;
  width: 32px;
  border: 0.8px solid;
  border-radius: 0.6px;
  border-color: #CECECE;
  background-color: #ECECEA;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.piwptb-more-info div {
  content: "";
  max-height: 4px;
  min-height: 4px;
  max-width: 4px;
  min-width: 4px;
  background-color: #FF5921;
}

.piw-shopping-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ECECEA;
  border-radius: 1px;
  padding: 14px 20px 18px 20px;
  box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.1);
}

.piwsl-title {
  display: flex;
  gap: 8px;
}

.piwsl-actions {
  display: flex;
  gap: 24px;
}

.piwsla-filters {
  display: flex;
  gap: 8px;
}

.piwslaf-counter {
  width: 102px;
  display: flex;
  gap: 3px;
  padding: 9px 4px 9px 4px;
  border: 1px solid;
  border-color: #CECECE;
  border-radius: 1px;
  background-color: #F4F4F2;
  justify-content: space-between;
  align-items: center;
}

.piwslaf-counter button {
  height: 16px;
  width: 16px;
  margin: 0px;
  padding: 0px;
  padding-inline: 0px;
  padding-block: 0px;
  border: none;
  cursor: pointer;
}

.piwslaf-settings {
  height: 40px;
  width: 40px;
  background-color: #ECECEA;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.8px solid;
  border-color: #CECECE;
  border-radius: 0.6px;
  box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.piwslaf-settings:hover {
  transform: scale(1.05);
}

.piwsla-add {
  height: 40px;
  border-radius: 1px;
  border: none;
  padding: 8px 12px 8px 12px;
  display: flex;
  gap: 8px;
  background-color: #127119;
  box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.1);
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #DAEDCE;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.piwsla-add:hover {
  transform: scale(1.05);
}

.piw-product-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.piwpd-wrapper {
  display: none;
  flex-direction: column;
  gap: 8px;
}

.piwpd-wrapper.clicked {
  display: flex;
}

.piwpd-title {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.piwpd-title h1 {
  padding-left: 20px;
}

.piwpd-title a {
  text-decoration: none;
  cursor: pointer;
}

.piwpd-details {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ECECEA;
  border-radius: 1px;
  padding: 0px 12px 0px 12px;
}

.piwpdd-mana {
  display: flex;
  align-items: center;
  gap: 2px;
}

.top-padding-8 {
  margin-top: 8px;
}

.piwpddw-n-icon {
  height: 20px;
  width: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background-color: #BECCCF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #04050C;
}

.piwpdd-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.piwpdt-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.piwpdd-prices {
  display: flex;
  gap: 32px;
  position: relative;
}

.piwpdd-prices span {
  position: relative;
}

.piwpddp-decorator::before {
  content: "";
  height: 20px;
  width: 4px;
  border-radius: 0.6px;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.cheapest::before {
  background-color: #69BC40;
}

.mid-price::before {
  background-color: #DDC80B;
}

.most-expensive::before {
  background-color: #FF8B64;
}